{% if docstring is not none %}
{{ docstring | docstring }}

{% endif %}
{% for f in fields %}
    {{ f.decl }}
{% if f.docstring is not none %}
{{ f.docstring | docstring }}
{% if not loop.last %}

{% endif %}
{% endif %}
{% endfor %}
{% if fields %}

{% endif %}
    if IS_PYDANTIC_V2:
        model_config: typing.ClassVar[pydantic.ConfigDict] = pydantic.ConfigDict(extra="allow", frozen=True)  # type: ignore # Pydantic v2
    else:

        class Config:
            frozen = True
            smart_union = True
            extra = pydantic.Extra.allow
